main{
    height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5)) ,url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1{
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
}
.form form{
    text-align: center;
    margin-top: 100px;
}

input, textarea {
    width: 280px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

button{
    width: 250px;
    font-size: 20px;
    padding: 5px 10px;
    background: rgb(32, 70, 45);
    border: none;
    margin-top: 15px;
    cursor:pointer;
    transition: all 0.3s linear;
    color: white;
}

button:hover{
    background: rgb(2, 170, 58);
}